:root{
    /* CORES PRIMARIAS*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*CORES NEUTRAS*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%) ;

    --lexend-deca:'Lexend Deca', sans-serif;
    --big-shoulders:'Big Shoulders Display', cursive;

}
h1{
    font-family: var(--big-shoulders);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}
p{
    color: var(--transparent-white);
}
body{
    width: 100%;
    height: 100vh;
    font-family: var(--lexend-deca);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--transparent-white);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card1{
    background: var(--bright-orange);
    width: 310px;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}
svg{
    margin-top: 40px;
    margin-left: 45px;
}
.card-title{
    margin-left: 45px;
}
.card-description{
    margin: 20px 45px 50px 45px;

    line-height: 1.8;
}
.card2{
    background: var(--dark-cyan);
    width: 310px;
    height: 500px;
}
.card3{
    background: var(--very-dark-cyan);
    width: 310px;
    height: 500px;
    border-radius: 0px 10px 10px 0px;
}
.button-card{
    margin-left: 40px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn1-color{
    color: var(--bright-orange);
    font-weight: 700;
}
.btn1-color:hover{
    transition: 0.8s;
    border: 2px solid var(--transparent-white);
    background: var(--bright-orange);
    color: var(--transparent-white);
}
.btn2-color{
    color: var(--dark-cyan);
    font-weight: 700;
}
.btn2-color:hover{
    transition: 0.8s;
    border: 2px solid var(--transparent-white);
    background: var(--dark-cyan);
    color: var(--transparent-white);
}
.btn3-color{
    color: var(--very-dark-cyan);
    font-weight: 700;
}
.btn3-color:hover{
    transition: 0.8s;
    border: 2px solid var(--transparent-white);
    background: var(--very-dark-cyan);
    color: var(--transparent-white);
}
@media only screen and (max-width: 768px) {
    body{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .card1{
        border-radius: 20px 20px 0px 0px;     
    }
    .card3{
        border-radius: 0px 0px 20px 20px;     
    }
}